@{
    ViewData["Title"] = "Home Page";
}

<div id="content1" style="width: 100%;height: 600px">
    <div id="content" style="width: 80%; height: 100%; float: left;">
        <div id="content_1" style=" width: 100%; height: 80%;">
            <div id="content_11" class="maininfo" style="width: 100%; height: 100%; float: left;"></div>
            <div id="content_12" class="maininfo"></div>
            <div id="content_13" class="maininfo"></div>
            <div id="content_14" class="maininfo"></div>
        </div>
        <div id="content_2" style="width: 100%; height: 20%;">
            <div id="content_21" class="maininfo" style=" width: 25%; height: 100%; float: left;"></div>
            <div id="content_22" class="maininfo" style="width: 25%; height: 100%; float: left;"></div>
            <div id="content_23" class="maininfo" style="width: 25%; height: 100%; float: left;"></div>
            <div id="content_24" class="maininfo" style="width: 25%; height: 100%; float: left;"></div>
        </div>
    </div>
    <div id="right" style="width: 20%; height: 100%; float: right;">
        <div id="right_1" style="width: 100%; height: 50%;">
            <span id="text">Non sông Việt Nam có trở nên tươi đẹp hay không, dân tộc Việt Nam có bước tới đài vinh quang để sánh vai với các cường quốc năm châu được hay không, chính là nhờ một phần lớn ở công học tập của các em</span>
            <hr>
            <span><i>Thư Bác Hồ gửi học sinh - 1945</i></span>
        </div>
        <div id="right_2" style="width: 100%; height: 50%;">

        </div>

    </div>
</div>

