@model CaseStudy.Model.score

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>score</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_score" />
            <div class="form-group">
                <label asp-for="score_number" class="control-label"></label>
                <input asp-for="score_number" class="form-control" />
                <span asp-validation-for="score_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detail" class="control-label"></label>
                <input asp-for="detail" class="form-control" />
                <span asp-validation-for="detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_student" class="control-label"></label>
                <select asp-for="id_student" class="form-control" asp-items="ViewBag.id_student"></select>
                <span asp-validation-for="id_student" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="test_code" class="control-label"></label>
                <select asp-for="test_code" class="form-control" asp-items="ViewBag.test_code"></select>
                <span asp-validation-for="test_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

