@model CaseStudy.Model.test

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="test_name" class="control-label"></label>
                <input asp-for="test_name" class="form-control" />
                <span asp-validation-for="test_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_subject" class="control-label"></label>
                <select asp-for="id_subject" class ="form-control" asp-items="ViewBag.id_subject"></select>
            </div>
            <div class="form-group">
                <label asp-for="total_questions" class="control-label"></label>
                <input asp-for="total_questions" class="form-control" />
                <span asp-validation-for="total_questions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

